# slack2mail設定
## アプリケーションホスト名(ドメイン+ホスト名)
NUXT_PUBLIC_APP_URL=https://www.example.com

# Slack設定
# slack api サイトの Basic Information から
# App ID
NUXT_SLACK_APP_ID=xxxxxxxxx
# Client ID
NUXT_SLACK_CLIENT_ID=999999999999
# Client Secret
NUXT_SLACK_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxx
# Signing Secret
NUXT_SLACK_SIGNING_SECRET=xxxxxxxxxxxxxxxxxxxxx
# Verification Token
NUXT_SLACK_VERIFICATION_TOKEN=xxxxxxxxxxxxxxxxxxxx
# OAuth & Permissions - Redirect URLs
NUXT_SLACK_REDIRECT_URI=${NUXT_PUBLIC_APP_URL}/api/slack/oauth/callback
## openssl rand -hex 32
NUXT_SLACK_STATE_SECRET=XXXXXXXXXXX

# vite設定
NUXT_VITE_ALLOWED_HOST=${APP_HOST}

# Supabase設定
# Project Overview - https://........
NUXT_SUPABASE_PROJECT_URL=https://xxxxxxxxxxxxxxx.supabase.co
# Settings - API Keys - Publishable key
NUXT_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxx
NUXT_SUPABASE_CALLBACK_URL=https://xxxxxxxxxxxxxxx.supabase.co/auth/v1/callback
NUXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxx.supabase.co
NUXT_PUBLIC_SUPABASE_KEY=sb_publishable_xxxxx
# Settings - API Keys - Secret keys
NUXT_SUPABASE_SECRET_KEYS=xxxxxxx
NUXT_SUPABASE_SERVICE_ROLE=xxxxxxxxxxx

# 一般ユーザ認証用
## 機密性の高いスコープを含まない(email,profileのみ)
NUXT_GOOGLE_CLIENT_ID=xxxxxxx.apps.googleusercontent.com
NUXT_GOOGLE_CLIENT_SECRET=xxxxxxxx

# Cloudflare Tunnel用 (変数名はcloudflareの仕様)
TUNNEL_TOKEN=xxxxx

# Scheduler用 メール送信間隔 (分)
INTERVAL=10